<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<h3>Добавление пользователя</h3>
<form th:method="POST" th:action="@{/person/add}" th:object="${person}">

    <label for="last_name">Введите фамилию: </label>
    <input type="text" th:field="*{last_name}" id="last_name">
    <div style="color : red" th:if="${#fields.hasErrors('last_name')}"
         th:errors="*{last_name}"></div>
    <br>
    <label for="first_name">Введите имя: </label>
    <input type="text" th:field="*{first_name}" id="first_name">
    <div style="color : red" th:if="${#fields.hasErrors('first_name')}"
         th:errors="*{first_name}"></div>
    <br>
    <label for="patronymic">Введите отчество: </label>
    <input type="text" th:field="*{patronymic}" id="patronymic">
    <br>
    <label for="age">Введите возраст: </label>
    <input type="number" th:field="*{age}" id="age">
    <div style="color : red" th:if="${#fields.hasErrors('age')}"
         th:errors="*{age}"></div>
    <br>
    <label for="email">Введите Email: </label>
    <input type="email" th:field="*{email}" id="email">
    <div style="color : red" th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}"></div>
    <br>
    <label for="number">Введите номер: </label>
    <input type="text" th:field="*{number}" id="number">
    <div style="color : red" th:if="${#fields.hasErrors('number')}"
         th:errors="*{number}"></div>
    <br>
    <input type="submit" value="Добавить">
    <button><a href="/person">Назад</a></button>
</form><br>

</body>
</html>